polling_frequency = 3
max_thread_count = 1
max_up_seconds_per_task = 7200

# paths
run_dir = '/opt/apps/taskmanager/current/'
data_store_path = '/var/data/taskmanager/'
log_dir = '/var/log/taskmanager/'
log_level = "DEBUG"

# admin
admin_email_addr = ""

# database
db_host = ''
db_user = ''
db_passwd = ''
db = 'dbs_registry'
tasks_table = 'tasks'

# for PHPSHELL task
php_shell_working_dir = '/opt/apps/registry/'

# for POKE task
response_url = 'http://localhost/api/task/exe/'
maintenance_request_url = 'http://localhost/api/task/run/'